body{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
div button{
    width: 100px;
    height: 25px;
    
}
h2{
    color: rgb(6, 30, 184);
}

h2 span {
    color: black
}
#result{
    color: orangered
}
.button-click{
    background-color: blue;
    color: white;
}